@font-face {
    font-family: "malgeunNal";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/malgeunNal/malgeunNal-Medium.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/malgeunNal/malgeunNal-Medium.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/malgeunNal/malgeunNal-Medium.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/malgeunNal/malgeunNal-Medium.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/malgeunNal/malgeunNal-Medium.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "malgeunNal";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/malgeunNal/malgeunNal-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/malgeunNal/malgeunNal-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/malgeunNal/malgeunNal-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/malgeunNal/malgeunNal-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/malgeunNal/malgeunNal-Bold.ttf") format("truetype");
    font-display: swap;
} 
.malgeunNal {
    font-family: "malgeunNal";
}
.malgeunNal500 {
    font-family: "malgeunNal";
    font-weight: 500;
}
.malgeunNal700 {
    font-family: "malgeunNal";
    font-weight: 700;
}
